boto3==1.36.7
config==0.5.1
Django==5.1.5
django_ckeditor_5==0.2.15
django_storages==1.14.4
numpy==2.2.2
pandas==2.2.3
pandas_gbq==0.26.1
Pillow==11.1.0
protobuf==5.29.3
pysftp==0.2.9
pytz==2024.2
Requests==2.32.3
google-cloud-storage
django-crispy-forms
crispy-bootstrap4
django-debug-toolbar