/* Button styles */
.save-configuration-button, .send-emails-button {
    width: 150px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    font-size: 16px; /* Set button font size */
    border: none; /* Remove button border */
    border-radius: 5px; /* Apply border radius to button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.save-configuration-button {
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set button text color */
}

.send-emails-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.save-configuration-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.send-emails-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Form styles */
.email-configuration-form {
    margin-bottom: 20px; /* Add some margin below the form */
}

.form-inline {
    margin-bottom: 20px; /* Add some margin between the form and other elements */
}

.form-field {
    margin-bottom: 15px; /* Add margin between form fields */
}

.error-message {
    color: red; /* Style error messages in red */
}

/* Messages styles */
.messages {
    background-color: #d4edda !important; /* Light green background */
    border-color: #c3e6cb !important; /* Green border */
    color: #155724 !important; /* Dark green text color */
    padding: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid transparent !important;
    border-radius: .25rem !important;
}


