.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header-title {
    margin-right: 10px;
}


.github-link {
    display: flex;
    align-items: center;
}

.github-logo {
    width: 30px;
    height: 30px;
}

.container {
    text-align: center;
}


.toc-container {
    position: fixed;
    top: var(--navbar-height, 170px); /* Use a CSS variable for the top position */
    left: 0;
    width: 160px;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensure it is above other elements */
}

.toc-container.hidden {
    left: -250px; /* Hide the TOC off-screen on mobile devices */
}


.toc {
    background-color: #7e7f8065; /* Solid background color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000; /* Ensure it is above other elements */
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul li {
    margin-bottom: 10px;
}

.toc ul li a {
    text-decoration: none;
    color: #ffffff;
}

.toc ul li span {
    text-decoration: none;
    color: #ffffff;
}

.toc ul li a:hover {
    text-decoration: underline;
}

.toc .sub-list {
    margin-left: 20px; /* Indent subsections */
}

.toc .sub-list a {
    font-size: 14px; /* Smaller font size for subsections */
}

.toggle-btn-internal {
    display: inline-block;
    width: 20px;
    background: none;
    border: none;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 5px;
}



.toggle-btn-internal:hover {
    color: #5f5f5fc2;
}


/* Ensure the TOC toggle button is positioned correctly */
#toc-toggle {
    position: fixed;
    z-index: 1001; /* Ensure it is above the TOC content */
    background-color: #7e7f8065; /* Background color for visibility */
    color: #fff; /* Text color for visibility */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.content-wrapper {
    padding: 20px;
    margin-left: 50px;
    transition: margin-left 0.3s ease; /* Smooth transition */
    background-color: #f8f9fa; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 20px;
}

/* Hide TOC on mobile devices */
@media (max-width: 767px) {

    .content-wrapper {
        margin-left: 0; /* Remove margin for mobile view */
        width: 100%; /* Ensure it takes up the full width */
    }

    .toc-container {
        left: -250px; /* Hide the TOC off-screen */
    }

    .toc-container.open {
        left: 0; /* Slide the TOC into view */
        z-index: 1000; /* Ensure it is above other elements when opened */
        top: 195px;
    }

    #toc-toggle.open {
        left: auto;
        right: 250px; /* Adjust position when TOC is open on mobile */
    }
}

.contact-content-container {
    margin-top: 20px; /* Add some space between the Table of Contents and the footer content */
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start (left) */
    background-color: #7e7f8065;
    padding: 20px 0;
    text-align: center;

    flex-direction: row;
    justify-content: center;
    max-width: 300px; /* Limit the width of the footer */
    margin: 20px auto; /* Center the footer and add vertical margin */
    border-radius: 8px; /* Add rounded corners */
}

.contact-content a {
    margin-right: 20px; /* Increase horizontal spacing between elements */
}

.contact-content .gmail-link img {
    width: 30px; /* Set the width of the Gmail icon */
    height: 30px; /* Set the height of the Gmail icon */
}

.contact-content .gmail-link i {
    font-size: 30px; /* Set the size of the Font Awesome icon */
    margin-right: 5px; /* Add some space between the icon and the image */
}

.qxCTlb {
    color: #040404 !important; /* Set the text color to white */
}

.section-heading {
    font-size: 2.5rem; /* Increase font size for the section heading */
    margin-bottom: 40px; /* Add margin below the heading */
    color: #000000e7; /* Different color from navbar */
}

.feature-box {
    margin-bottom: 30px; /* Add margin to space out the feature boxes */
}


.problem-box {
    display: flex; /* Use Flexbox for layout */
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (top) */
    margin-bottom: 10px; /* Reduce the margin between problem boxes */
    padding: 10px; /* Reduce padding inside problem boxes */
    flex-wrap: nowrap; /* Allow items to wrap within the flex container */
}


.problem-box p {
    margin-top: 2px;
    margin-bottom: 5px; /* Reduce the margin below the paragraphs */
    font-size: 1rem; /* Adjust font size if necessary */
    line-height: 1.4; /* Adjust line height for better readability */
    flex-grow: 1; /* Allow the p tag to take up remaining space */
    text-align: left; /* Ensure text starts on the left */
    width: 100%; /* Ensure the p tag takes up the full width of the container */
}


.content-wrapper h3 {
    color: black; /* Set the text color to black */
    font-size: 18px; /* Set a smaller font size */
    text-align: left; /* Align the text to the left */
    margin-top: 20px; /* Optional: Add some spacing above */
    margin-bottom: 0px; /* Optional: Add some spacing below */
    font-weight: normal; /* Optional: Set the font weight to normal */
    text-decoration: underline;
    margin-left: 0; /* Ensure no unintended left margin */
}

#cloud-setup .cloud-setup-intro {
    margin-bottom: 40px; /* Add bottom margin */
}

#cloud-setup ul {
    list-style-type: disc; /* Use a disc for the bullet points */
    margin-top: 2px; /* Match the top margin of .problem-box p */
    margin-bottom: 5px; /* Match the bottom margin of .problem-box p */
    padding-left: 20px; /* Add padding for indentation */
}

#cloud-setup ul li {
    line-height: 1.4; /* Match the line height for readability */
    text-align: left; /* Ensure the text is aligned to the left */
    color: black; /* Set the font color to black */
    margin-bottom: 5px; /* Add spacing between list items */
    width: 100%; /* Ensure the list items take up the full width */
}


#cloud-setup .gcp-logo {
    width: 40px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio */
    vertical-align: middle; /* Align the logo with the text */
    margin-left: 10px; /* Add spacing between the text and the logo */
}

li {
    text-align: left; /* Align text to the left */
    color: black; /* Set text color to black */
}

.col-md-12.problem-box ul li {
    margin-top: 10px; /* Adds spacing between each list item */
}

.col-md-12.problem-box ul {
    padding-top: 15px; /* Adds top padding to the entire list */
}