

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px; /* Limit the width of the SVG container */
    margin: 0 auto;
    padding-bottom: 0;
    overflow: auto;
}

.svg-container svg {
    width: 100%; /* Make SVG responsive, but limited to the container's max-width */
    height: auto;
    display: block;
    margin: auto;
}


.svg-container .extract, .svg-container .transform, .svg-container .load {
    fill: #14539293 !important; /* Ensure the fill color is applied */
    stroke: #000 !important; /* Ensure the stroke color is applied */
    stroke-width: 2 !important; /* Ensure the stroke width is applied */
}

.svg-container a {
    text-decoration: none; /* Disable underline */
}

.svg-container a:hover {
    text-decoration: none; /* Ensure no underline on hover */
}

.responsive-svg {
    width: 100%; /* Scale the SVG to fit the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline spacing */
}

.main-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
}

@keyframes fade {
    0% { opacity: 0.3; }
    33% { opacity: 1; }
    66% { opacity: 0.3; }
    100% { opacity: 0.3; }
}

.extract {
    animation: fade 9s infinite;
}
.transform {
    animation: fade 9s infinite;
    animation-delay: 3s;
}
.load {
    animation: fade 9s infinite;
    animation-delay: 6s;
}

h1.main-heading {
    font-size: 2.5rem; /* Larger font size for the main heading */
    font-weight: bold;
    margin-bottom: 20px;
}

p.tagline {
    font-size: 1.2rem; /* Slightly larger font for the tagline */
    line-height: 1.6; /* Improve readability */
    margin-bottom: 30px;
}