{% extends 'sds_app/base.html' %}
{% load static %}

{% block head %}
{{ block.super }}
<title>Google Cloud Data Warehousing for Schools | School Data Services</title>
<meta name="description" content="Learn how School Data Services leverages Google Cloud to provide scalable, secure, and cost-effective data warehousing solutions tailored for schools.">

<meta property="og:title" content="Google Cloud Data Warehousing for Schools | School Data Services">
<meta property="og:description" content="Discover how School Data Services uses Google Cloud to ensure scalability, security, and seamless data integration for educational institutions.">
<meta property="og:image" content="https://storage.googleapis.com/django_hosting/base_images/gcp-vectorized.png">
<meta property="og:url" content="https://schooldataservices.com/cloud_setup/">
<meta property="og:type" content="website">
{% endblock head %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/intro_functionality.css' %}">
{% endblock %}

{% block toc_toggle_button %}
    <button id="toc-toggle">☰</button>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="content-wrapper">
                <!-- Cloud Setup Section -->
                <section id="cloud-setup">
                    <h2 class="section-heading text-center">
                        Google Cloud Based Data Warehouse
                        <img src="https://storage.googleapis.com/django_hosting/base_images/gcp_vectorized.png" 
                             alt="Google Cloud Logo" 
                             class="gcp-logo">
                    </h2>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12 problem-box">

                                <p class="cloud-setup-intro">

                                    
                                    <strong>Cloud setup is essential for modern data management. By leveraging cloud platforms, we ensure scalability, security, reliability, and accessiblity for your organization's data.</strong>
                                </p>

                                
                                <h3>Scalability & Performance</h3>
                                <ul>
                                    <li>Serverless architecture eliminates infrastructure management versus on-premise setups.</li>
                                    <li>Automatically scales to handle large datasets.</li>
                                    <li>Uses optimized storage and querying for fast performance.</li>
                                </ul>

                                
                                <h3>Cost-Effectiveness</h3>
                                <ul>
                                    <li>Pay-as-you-go pricing ensures cost efficiency with only used resources.</li>
                                    <li>Supports partitioning and clustering to optimize storage costs.</li>
                                    <li>Reduces the need for expensive hardware, maintenance, and various softwares.</li>
                                </ul>
                                
                                <h3>Seamless Data Integration</h3>
                                <ul>
                                    <li>Native support for cloud storage, relational databases, and third-party tools.</li>
                                    <li>Easily integrates with reporting and visualization platforms.</li>
                                    <li>Supports real-time data ingestion and transformation.</li>
                                </ul>
                                
                                <h3>Security & Compliance</h3>
                                <ul>
                                    <li>Built-in encryption for data at rest and in transit.</li>
                                    <li>Identity and Access Management (IAM) for granular permissions.</li>
                                    <li>Compliance with industry standards like GDPR, HIPAA, and SOC 2.</li>
                                </ul>
                                
                                <h3>Why Google Cloud?</h3>
                                <ul>
                                    <li>Google Cloud is deeply integrated into the education sector, with tools like Google Classroom, Google Drive, and other educational platforms seamlessly leveraging its cloud infrastructure.</li>
                                    <li>Using Google Cloud for your data setup ensures that you're in sync with widely adopted, reliable, and scalable technologies tailored for the education industry.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div> 
        </div>
    </div>
</div>

{% include "sds_app/toc.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/toc_toggles.js' %}"></script>
{{ block.super }}
{% endblock extra_js %}

{% block footer %}
<div class="contact-content-container">
  <div class="contact-content">
      <a href="https://github.com/schooldataservices" target="_blank" class="github-link">
          <img src="https://storage.googleapis.com/django_hosting/base_images/github_logo_black.svg" alt="GitHub" class="github-logo">
      </a>

      <a href="mailto:schooldataservices.info@gmail.com" class="gmail-link">
          <img src="https://storage.googleapis.com/django_hosting/base_images/gmail-icon.png" alt="email">
      </a>

      <!-- Google Calendar Appointment Scheduling begin -->
      <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
      <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
      <script>
        (function() {
            var target = document.currentScript;
            window.addEventListener('load', function() {
                calendar.schedulingButton.load({
                    url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ1YEbyOgaX3uivrz4uynx7FLP68WD7OZxcaoi2sH003T2gLao95wSfPzkUckhMAeY-mcsJ_dEj8?gv=true',
                    color: '#fff',
                    label: 'Get in Touch',
                    target,
                    className: 'custom-calendar-button' // Add custom class
                });
            });
        })();
      </script>
  </div>
</div>
{% endblock footer %}

