{% extends 'sds_app/base.html' %}
{% load static %}

{% block meta_description %}
<meta name="description" content="View and manage your historical data requests with School Data Services. Filter, search, and edit past submissions for efficient data management.">
{% endblock %}

{% block head %}
{{ block.super }}
<title>Historical Data Requests | School Data Services</title>
<meta property="og:title" content="Historical Data Requests | School Data Services">
<meta property="og:description" content="View and manage your historical data requests with School Data Services. Filter, search, and edit past submissions for efficient data management.">
<meta property="og:url" content="https://schooldataservices.com/historical-requests/">
<meta property="og:type" content="website">
{% endblock head %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/request_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/historical_requests_page.css' %}">
{% endblock %}

{% block content %}
<div class="flex-container">
 

    <div class="request-card">

        <button class="delete-request" data-id="{{ request_obj.id }}" style="background: none; border: none; cursor: pointer;">
            <i class="fas fa-trash-alt" style="font-size: 1.25rem;"></i> <!-- Font Awesome trash icon -->
        </button>
          

        <!-- Display success message if it exists -->
        {% if request.GET.message %}
        <div class="alert alert-success">
            {{ request.GET.message }}
        </div>
        {% endif %}
    

        <h3 style="display: flex; align-items: center; gap: 10px;">
            Request ID: {{ request_obj.reference_tag }}

            <!-- Previous Button -->
            {% if prev_id %}
                <a href="{% url 'historical_requests' %}?id={{ prev_id }}&user_id={{ selected_user_id }}&keyword={{ keyword }}" class="nav-arrow">
                    &#8592; Previous
                </a>
            {% endif %}


            <!-- Next Button -->
            {% if next_id %}
                <a href="{% url 'historical_requests' %}?id={{ next_id }}&user_id={{ selected_user_id }}&keyword={{ keyword }}" class="nav-arrow">
                    Next &#8594;
                </a>
            {% endif %}


                        
        </h3>
        <div class="meta-info">
            <p><strong>Request Title:</strong> {{ request_obj.request_title }}</p>
            <p><strong>User:</strong> {{ request_obj.creator.username }}</p>
            <p><strong>Date Submitted:</strong> {{ request_obj.date_submitted|date:"Y-m-d H:i:s" }}</p>
            <p><strong>Priority:</strong> {{ request_obj.priority_status }}</p>
            <p><strong>Desired Completion Date:</strong> {{ request_obj.schedule_time|date:"Y-m-d H:i:s" }}</p>
            <p id="status-cell-{{ request_obj.id }}">
                <strong>Completion Status:</strong>
                <span class="status-text">{{ request_obj.completion_status|yesno:"Completed,Pending" }}</span>
                <input type="checkbox" class="completion-status-toggle" data-id="{{ request_obj.id }}" {% if request_obj.completion_status %}checked{% endif %}>
            </p>
        </div>
        <div class="editable-email-container">
            <div class="editable-email-content" contenteditable="false" data-id="{{ request_obj.id }}">
                {{ request_obj.email_content|safe }}
            </div>
            <button class="edit-button">Edit</button>
            <button class="save-button" style="display: none;">Save</button>
        </div>
    </div>

    <!-- Filter Form -->
    <div class="filter-form-container">
        <!-- Filter by Request ID -->
        <form method="get" action="{% url 'historical_requests' %}" class="filter-form">
            <label for="id"><strong>Filter by Request:</strong></label>
            <select id="id" name="id">
            {% for r in all_requests %}
                <option value="{{ r.id }}"
                        {% if request_obj and r.id == request_obj.id %}selected{% endif %}>
                {{ r.reference_tag }} - ({{ r.request_title|default:"(No Title)" }})
                </option>
            {% endfor %}
            </select>
            <input type="hidden" name="user_id" value="{{ selected_user_id|default_if_none:'' }}">
            <input type="hidden" name="keyword" value="{{ keyword }}">
            <button type="submit">Filter</button>
        </form>

        <!-- Filter by User (Superusers Only) -->
        {% if user.is_superuser %}
        <form method="get" action="{% url 'historical_requests' %}" class="filter-form">
            <label for="user_id"><strong>Filter by User:</strong></label>
            <select name="user_id" id="user_id" class="form-control">
                <option value="" {% if not selected_user_id %}selected{% endif %}>All Users</option>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id|stringformat:"s" == selected_user_id %}selected{% endif %}>
                        {{ user.username }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
    <!-- Set here to block inheritance -->
{% endblock %}


{% block extra_js %}
{{ block.super }} <!-- Include the parent block's content -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{% static 'js/historical_requests.js' %}"></script>
{% endblock %}