/* Button styles */
.save-configuration-button, .send-emails-button {
    width: 150px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    font-size: 16px; /* Set button font size */
    border: none; /* Remove button border */
    border-radius: 5px; /* Apply border radius to button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.save-configuration-button {
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set button text color */
}

.send-emails-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.save-configuration-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.send-emails-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Form styles */
.email-configuration-form {
    margin-bottom: 20px; /* Add some margin below the form */
}

.form-inline {
    margin-bottom: 20px; /* Add some margin between the form and other elements */
}

.form-field {
    margin-bottom: 15px; /* Add margin between form fields */
}

.error-message {
    color: red; /* Style error messages in red */
}

/* Messages styles */
.messages {
    background-color: #d4edda ; /* Light green background */
    border-color: #c3e6cb ; /* Green border */
    color: #155724 ; /* Dark green text color */
    padding: 10px ;
    margin-bottom: 15px ;
    border: 1px solid transparent;
    border-radius: .25rem;
}


/* Navigation bar styles */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Background color of the navbar */
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    float: left; /* Float the list items to create a horizontal layout */
}

.navbar li a {
    display: block;
    color: white; /* Text color of the links */
    text-align: center;
    padding: 14px 8px; /* Padding around the link text */
    text-decoration: none; /* Remove underline from the links */
}

/* Change the background color of the links when hovered */
.navbar li a:hover {
    background-color: #111; 
}


.container {
    display: flex;
    justify-content: left; /* Center align the form */
    align-items: center; /* Center align vertically */
    margin: 0;
}

.flex-container {
    display: flex;
 
}

.email-content-container,
.email-config-container{
    flex: 1; /* Take up equal space */
    padding: 10px; /* Add padding for spacing */
}


.email-config-container {
    order: 1; /* Make it appear before the email-content-container */
    margin-right: 130px;
}

.email-content-container {
    order: 2; /* Make it appear after the email-config-container */
    margin-left: auto;
}

.wide-textarea {
    width: 210%; /* Set the width to 100% of its container */
    /* Add any additional styling as needed */
}

.cke_1 {
    /* Your CSS styles here */
    width: 100%;
    height: 300px;
}







