{% extends 'emailscraper_app/base.html' %}
{% load crispy_forms_tags %}

{% block meta_description %}
<meta name="description" content="Log in to your School Data Services account to access your dashboard and manage your school's data securely.">
{% endblock %}

{% block head %}
{{ block.super }}
<title>Login | School Data Services</title>
<meta property="og:title" content="Login | School Data Services">
<meta property="og:description" content="Log in to your School Data Services account to access your dashboard and manage your school's data securely.">
<meta property="og:url" content="https://schooldataservices.com/login/">
<meta property="og:type" content="website">
{% endblock head %}

{% block content %}
<div class="content-section text-center login-container">
    <div class="form-wrapper login-form-wrapper">
        <form method="POST" enctype="multipart/form-data" class="form-signin">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group"> 
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}