{% extends "emailscraper_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="register-container">
    <h2 class="text-center">Register</h2>
    <form method="POST" class="form-register">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="button-container">
            <button type="submit" class="btn btn-primary submit-button">Register</button>
            <a href="{% url 'login' %}" class="btn btn-secondary login-button">Login</a>
        </div>
    </form>
</div>
{% endblock content %}
