{% extends 'emailscraper_app/base.html' %}
{% load crispy_forms_tags %}

{% block meta_description %}
<meta name="description" content="Create your School Data Services account. Register to access data management tools and streamline your school's data workflows.">
{% endblock %}

{% block head %}
{{ block.super }}
<title>Register | School Data Services</title>
<meta property="og:title" content="Register | School Data Services">
<meta property="og:description" content="Create your School Data Services account. Register to access data management tools and streamline your school's data workflows.">
<meta property="og:url" content="https://schooldataservices.com/register/">
<meta property="og:type" content="website">
{% endblock head %}

{% block content %}
<div class="content-section register-container">
    <form method="POST" class="form-register">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Below</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group"> 
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3 text-center">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger mt-3">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock content %}
